 body{
            font-family: 'Roboto', sans-serif;
        }
        .container{
            text-align: center;
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
        }
        h1{
            font-size: 2.2rem;
            margin: 0;
        }
        p{
            font-size: 1.4rem;
            margin: 0 0 1rem;
        }
        #playLaugh{
            display: block;
            width: 250px;
            height: 250px;
            margin: 0;
            padding: 0;
            background: none;
            border: 0;
            cursor: pointer;
            font-size: 1.6rem;
            font-weight: 900;
        }
        #playLaugh:active,
        #playLaugh:focus{
            outline: none;
        }
        #playLaugh img{
            max-width: 100%;
            border-radius: 50%;
            border: 9px solid #191919;
            box-shadow: -4px 7px 10px #111;
            position: relative;
            top: -4px;
            left: 7px;
            transition: all 0.25s;
        }
        #playLaugh:hover img{
            box-shadow: none;
            top: 0;
            left: 0;
        }
